<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ControlBackup1C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <TaskScheduler.Properties.Settings>
            <setting name="user_1c" serializeAs="String">
                <value/>
            </setting>
            <setting name="pas_1c" serializeAs="String">
                <value/>
            </setting>
            <setting name="user_claster" serializeAs="String">
                <value/>
            </setting>
            <setting name="pas_claster" serializeAs="String">
                <value/>
            </setting>
            <setting name="name_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>Designer</value>
            </setting>
            <setting name="PathExe1c" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathBackup" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodeBlocking" serializeAs="String">
                <value>КодРазрешения</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="from" serializeAs="String">
                <value/>
            </setting>
            <setting name="mailto" serializeAs="String">
                <value/>
            </setting>
            <setting name="port_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_u" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_p" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_d" serializeAs="String">
                <value/>
            </setting>
            <setting name="args" serializeAs="String">
                <value/>
            </setting>
            <setting name="start_service_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tray_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="claster_name" serializeAs="String">
                <value/>
            </setting>
        </TaskScheduler.Properties.Settings>
        <ControlBackup1C.Properties.Settings>
            <setting name="user_1c" serializeAs="String">
                <value/>
            </setting>
            <setting name="pas_1c" serializeAs="String">
                <value/>
            </setting>
            <setting name="user_claster" serializeAs="String">
                <value/>
            </setting>
            <setting name="pas_claster" serializeAs="String">
                <value/>
            </setting>
            <setting name="name_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>Designer</value>
            </setting>
            <setting name="PathExe1c" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathBackup" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodeBlocking" serializeAs="String">
                <value>КодРазрешения</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="from" serializeAs="String">
                <value/>
            </setting>
            <setting name="mailto" serializeAs="String">
                <value/>
            </setting>
            <setting name="port_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_u" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_p" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_d" serializeAs="String">
                <value/>
            </setting>
            <setting name="args" serializeAs="String">
                <value/>
            </setting>
            <setting name="start_service_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tray_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clasterName" serializeAs="String">
                <value/>
            </setting>
        </ControlBackup1C.Properties.Settings>
    </userSettings>
</configuration>
